.main{
  margin: 5px 5px 5px 5px;
  border: 1px solid #e3e4e5;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  background: #a6b8c9;
  color: white;
}
h2{
  color: aqua;
  padding-bottom: 50px;
}
.input{
  border-radius: 5px;
  cursor: pointer;
  max-width: 250px;
  height: auto;
  text-align: center;
}
.result{
  margin-top: 20px;
  text-align: center;
}
